{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h1>Вот что я умею</h1>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Python 🐍
      </li>
      <li class="list-group-item">
        Django 🦎
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
    <p>Многое еще предстоит выучить. Но пока я знаю философию языка Python:<br>
      <br>Красивое лучше, чем уродливое</br>
      <br>Явное лучше, чем неявное</br>
      <br>Простое лучше, чем сложное</br>
      <br>Сложное лучше, чем запутанное</br>
      <br>Плоское лучше, чем вложенное</br>
      <br>Разреженное лучше, чем плотное</br>
      <br>Читаемость имеет значение</br>
      <br>Особые случаи не настолько особые, чтобы нарушать правила</br>
      <br>При этом практичность важнее безупречности</br>
      <br>Ошибки никогда не должны замалчиваться</br>
      <br>Если они не замалчиваются явно</br>
      <br>Встретив двусмысленность, отбрось искушение угадать</br>
      <br>Должен существовать один и, желательно, только один очевидный способ сделать это</br>
      <br>Хотя он поначалу может быть и не очевиден, если вы не голландец</br>
      <br>Сейчас лучше, чем никогда</br>
      <br>Хотя никогда зачастую лучше, чем прямо сейчас</br>
      <br>Если реализацию сложно объяснить, то это плохая идея</br>
      <br>Если реализацию легко объяснить, то идея, возможно хороша</br>
      <br>Пространства имён - отличная штука! Будем делать их больше!</br>
    </p>
  </article>
</div>
{% endblock %} 